<div class="videoContainer">
  <h1 id="homeH1">Video of the Day</h1>

  <div class="iframe">
    <iframe width="382" height="215" src="https://www.youtube.com/embed/b1JRaGJpzc8" frameborder="0" allowfullscreen></iframe>
  </div>

</div>


<div class="historyContainer">
  <h1><%= image_tag('management-library-icon_RD.png', size: "40x40", class: "bulb") %>Historic Fact</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>



</div>

<div class="animalContainer">
  <h1><%= image_tag('lion.png', size: "50x50", class: "animal") %>Animal Fact</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>

</div>

<div class="beautyContainer">
  <h1><%= image_tag('lipstick.png', size: "40x40", class: "lipstick") %>Beauty Fact</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet.</p>

</div>

<div class="wordContainer">
  <h1>Word of the Day</h1>

  <p>ascendancy</p>

</div>

<div class="memeContainer">
  <h1>Meme-ify Me!</h1>
</div>

<div class="lifeContainer">
  <h1><%= image_tag('thinker.png', size: "40x40", class: "thinker") %>Facts of Life</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>

</div>

<div class="triviaContainer">
  <h1 class="gameH1">Trivia</h1>

  <%= image_tag('light-bulb-icon.png', size: "150x150", class: "bulb") %>

</div>

<div class="sudokuContainer">
  <h1 class="gameH1">Sudoku</h1>

  <%= image_tag('Apps-Sudoku-icon.png', size: "125x125", class: "sudo") %>

</div>
