<div class="mainContentContainer">
  <div class="videoContainer">
    <h1 id="homeH1">Video of the Day</h1>

    <div class="vidOfDay">
      <iframe id="vidFrame" src="http://www.youtube.com/embed/?listType=user_uploads&list=gardea23" width="382" height="215" controls="1"></iframe>
      <!-- <iframe width="382" height="215" src="https://www.youtube.com/embed/b1JRaGJpzc8" frameborder="0" allowfullscreen></iframe> -->
    </div>

  </div>


  <div class="historyContainer">
    <h1><%= image_tag('management-library-icon_RD.png', size: "40x40", class: "bulb") %>Historic Fact</h1>

    <p class="scrollContent">In 1895 Konstantin Tsiolkovsky, an early Russian rocket scientist, was the first to propose the concept of space elevators, a type of space transportation system.</p>

  </div>


  <div class="animalContainer">
    <h1><%= image_tag('lion.png', size: "50x50", class: "animal") %>Animal Fact</h1>

    <p class="scrollContent">Dusky and spinner dolphins can leap 20 feet (6.1 m) or higher in the air. In fact, spinner dolphins get their name from spinning and somersaulting above the waves.</p>

  </div>


  <div class="beautyContainer">
    <h1><%= image_tag('lipstick.png', size: "40x40", class: "lipstick") %>Beauty Fact</h1>

    <p class="scrollContent">Brunettes take less time getting ready in the morning than blondes, with brunettes averaging about 66 minutes to 72 minutes for blondes.</p>

  </div>

  <div class="wordContainer">
    <h2>Chuck Norris Joke</h2>

    <p class="scrollContent" id="randomJoke"></p>

  </div>


  <div class="memeContainer">
    <h1 id="memeH1">Meme</h1>
  </div>

  <div class="lifeContainer">
    <h1><%= image_tag('thinker.png', size: "40x40", class: "thinker") %>Facts of Life</h1>

    <p class="scrollContent">Most neuroscientists distinguish between the words “emotion” and “feeling.” They use “emotion” to describe the brain’s auto-programmed response to certain stimuli, and “feeling” to describe our conscious impression of that response.</p>

  </div>


  <div class="triviaContainer">
    <h1 class="gameH1">Trivia</h1>

    <%= image_tag('light-bulb-icon.png', size: "150x150", class: "bulb") %>

  </div>


  <div class="sudokuContainer">
    <h1 class="gameH1">Sudoku</h1>

    <%= image_tag('Apps-Sudoku-icon.png', size: "125x125", class: "sudo") %>

  </div>


  <div class="starWarsContainer">
    <%= image_tag('star_wars1600.png', size: "100x100", class: "starWars") %>

    <div class="starWarsContent">

      <h2 id="hTest"></h2>
      <div class="scrollContent" id="content">
      </div>
    </div>
  </div>

  <div class="pokeContainer">
    <%= image_tag('pokeball.png', size: "100x100", class: "pokeball") %>

    <div class="pokeContent">

      <h2 id="hPoke">What's Your Spirit Pokemon?</h2>
      <div id="pokeContent">
      </div>
    </div>
  </div>


</div>
