<div class="mainContentContainer">

<!-- Video of the Day -->
  <div class="videoContainer">
    <h1 id="homeH1">Video of the Day</h1>

    <div class="vidOfDay">
      <iframe width="382" height="215" src="https://www.youtube.com/embed/0M7ibPk37_U" frameborder="0" allowfullscreen></iframe>

    </div>

  </div>


<!-- Confucius -->
  <div class="confContainer">

    <h1 id="confH1"><%= image_tag('confucius.png', size: "40x40", class: "confucius") %><span class="confSpan">Confucius</span></h1>


      <p class="confScroll"><%= @confact.content.html_safe %></p>


  </div>


<!-- Animal Facts -->
  <div class="animalContainer">
    <h1><%= image_tag('lion.png', size: "50x50", class: "animal") %><span class="aniSpan">Animal Fact</span></h1>

      <p class="animalScroll"><%= @anifact.content.html_safe %></p>

  </div>


<!-- ENGLISH PROVERBS -->

    <div class="provContainer">
      <h1><%= image_tag('english.png', size: "40x40", class: "proverb") %><span class="provSpan">English Proverb</span></h1>


        <p class="provScroll"><%= @proverb.content.html_safe %></p>


    </div>


<!-- Chuck Norris -->

  <div class="chuckContainer">
    <h1><%= image_tag('laughing.png', size: "40x40", class: "chuck") %><span class="chuckSpan">Chuck Norris</span></h1>

    <p class="chuckScroll" id="randomJoke"></p>

  </div>


  <div class="lifeContainer">
    <h1><%= image_tag('thinker.png', size: "40x40", class: "thinker") %><span class="factsSpan">Socrates</span></h1>


      <p class="lifeScroll"><%= @socfact.content.html_safe %></p>


  </div>


    <div class="sudokuContainer">
      <h1 class="gameH1">Haiku</h1>

      <p id="haikuP"><%= @haifact.content.html_safe %></p>

      <%= image_tag('lotus.png', size: "75x75", class: "sudo") %>

    </div>


  <div class="starWarsContainer">
    <%= image_tag('star_wars1600.png', size: "100x100", class: "starWars") %>

    <div class="starWarsContent">

      <h2 id="hTest"></h2>
      <div class="starScroll" id="content">
      </div>

      <div class="filmDiv">
        <h3 id="sWarsFilms">Films</h3>
        <div class="filmScroll" id="filmContent">
        </div>
      </div>

    </div>
  </div>


  <div class="pokeContainer">
    <%= image_tag('pokeball.png', size: "100x100", class: "pokeball") %>

    <div class="pokeContent">

      <h2 id="hPoke">What's Your Spirit Pokemon?</h2>
      <p id="pokeContent">
      </p>
    </div>
  </div>


  <div class="educationalVidContainer">
    <h1 id="smartH1"><%= image_tag('light-bulb-icon.png', size: "30x30", class: "bulb") %>Get Smart</h1>

    <div class="smartVid">
      <iframe width="420" height="260" src="https://www.youtube.com/embed/gZadAICqiRM?list=PLlHanBMNk-DKQzkktkFKGvJR_9gSRDhBr" frameborder="0" allowfullscreen></iframe>
    </div>

    <%= image_tag('brain-idea-1.png', size: "120x120", class: "brain") %>

  </div>


</div>
