<!DOCTYPE html>
<html>
  <head>
    <title>Brain Floss</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="shortcut icon" href="app/assets/images/brainFavicon.png">

    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">


  </head>

  <body>


    <nav>
      <%= image_tag('brainLogo.png', size: "70x70", class: "logo") %>
      <h2>Brain Floss</h2>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/history">history</a></li>
        <li><a href="/life">life</a></li>
        <li><a href="/animal">animal</a></li>
        <li><a href="/beauty">beauty</a></li>
        <li><a href="/trivia">trivia</a></li>
        <li><a href="/sudoku">sudoku</a></li>
        <li><a href="/wordsearch">wordsearch</a></li>
      </ul>
    </nav>



    <%= yield %>


    <!-- scrollMagic script -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
   <!-- ...... -->

   <script src="path/to/js/jquery.min.js"></script>
   <!-- should be replaced with minified version when development is finished -->
   <script src="path/to/js/jquery.scrollmagic.js"></script>
   <!-- should be removed when development is finished -->
   <script src="path/to/js/jquery.scrollmagic.debug.js"></script>
   <script>
   // this is where our code will go
   </script>
  </body>
</html>
