<!DOCTYPE html>
<html>
  <head>
    <title>Brain Floss</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- scroll life - index-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- ScrollMagic - home page -->


  </head>
    <link rel="shortcut icon" href="app/assets/images/brainFavicon.png">

    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body>



    <nav>
      <%= image_tag('brainLogo.png', size: "70x70", class: "logo") %>
      <h2>Brain Floss</h2>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/history">history</a></li>
        <li><a href="/life">life</a></li>
        <li><a href="/animal">animals</a></li>
        <li><a href="/beauty">beauty</a></li>
        <li><a href="/trivia">trivia</a></li>
        <li><a href="/sudoku">sudoku</a></li>
      </ul>
    </nav>




    <%= yield %>
  </body>
</html>
